FRONTEND_PORT=8080
API_PORT=8081

ENV=development
REGISTRY=localhost
IMAGE_TAG=latest

DB_SOURCE_PATH=~/ecosystem/lib_mysql/todo_skill_up/
MYSQL_DATABASE=todo_skill_up
MYSQL_ROOT_PASSWORD=secret

API_MYSQL_HOST=api-mariadb
API_MYSQL_PORT=33061
API_MYSQL_USER=todo_skill_up
API_MYSQL_PASSWORD=secret