FRONTEND_PORT=8080
API_PORT=8081
WS_PORT=8888

ENV=development
REGISTRY=localhost
IMAGE_TAG=latest

DB_SOURCE_PATH=~/ecosystem/lib_mysql/todo_skill_up/
MYSQL_VERSION=mariadb:10.1.32
MYSQL_DATABASE=todo_skill_up
MYSQL_ROOT_PASSWORD=secret

API_MYSQL_HOST=api-mariadb
API_MYSQL_PORT=33061
API_MYSQL_USER=todo_skill_up
API_MYSQL_PASSWORD=secret

WS_MYSQL_HOST=ws-mariadb
WS_MYSQL_PORT=33062
WS_MYSQL_USER=ws_todo_skill_up
WS_MYSQL_PASSWORD=secret