# Режим окружения production/development/testing
ENV=development

# URL по которому будет доступна статика
NUXT_PUBLIC_BASE_PATH=/
# API для обращения
NUXT_PUBLIC_API_URL=https://todo-list.edu-playground.ru/api/v1
# URL для обращения к сокету
NUXT_PUBLIC_WEB_SOCKET_URL=wss://todo-list.edu-playground.ru
